.form-field_contacts {
    min-height: 53px;
    color: #160647;
    letter-spacing: -.02em;
    border: 1px solid #bcd3da;
    border-radius: 4px;
    margin-bottom: 0;
    padding-left: 24px;
    padding-right: 10px;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
}
.w-input, .w-select {
    width: 100%;
    height: 38px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
* {
    box-sizing: border-box;
}
input:not([type="range"]):not([type="color"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="file"]) {
    writing-mode: horizontal-tb !important;
}
user agent stylesheet
input[type="email" i] {
    padding: 1px 2px;
}
user agent stylesheet
input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}
user agent stylesheet
input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.container-1160 {
    width: 100%;
    max-width: 1160px;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}
.body {
    color: #160647;
    background-color: #fff;
    font-family: Inter,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44;
}
body {
    color: #333;
    font-family: Inter,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
body {
    min-height: 100%;
    color: #333;
    background-color: #fff;
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

